/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.container{
	margin-bottom:20px;
}
.yesno{
    cursor: pointer;
    float: left;
    position: relative;
    margin:auto;
    margin-left:20px !important;
}
.yesno ul {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.yesno ul li {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    opacity: 1;
    padding: 6px 8px 8px;
}
.yesno ul li .dot {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    width: 8px;
}
.yesno ul li.active {
    color: #666666;
    opacity: 1;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fff 90%, #ccc 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(90%,#fff), color-stop(97%,#ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #fff 90%, #CCC 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%, #fff 90%, #CCC 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%, #fff 90%,#CCC 97%); /* IE10+ */
    background: linear-gradient(top, #fff 0%, #fff 90%,#CCC 97%); /* W3C */
}
.yesno ul li.yes .dot {
    left: -12px;
    position: absolute;
    top: 10px;
}
.yesno ul li.yes.active {
    border-right: 1px solid #CCCCCC;
}
.yesno ul li.yes.active .dot {
    background: none repeat scroll 0 0 green;
}
.yesno ul li.no .dot {
    position: absolute;
    right: -12px;
    top: 10px;
}
.yesno ul li.no.active {
    border-left: 1px solid #CCCCCC;
}
.yesno ul li.no.active .dot {
    background: none repeat scroll 0 0 #FEBF01;
}

.yesno.all ul li{
	background:#fff;
	color:#999;
}
.yesno.all ul li.yes{
	border-right:1px solid #ddd;
}
.yesno.all ul li.no{
	border-left:1px solid #ddd;
}


.yesno.all ul li:hover{
	color:#666;
}

.yesno.all ul li.yes .dot {
    background: none repeat scroll 0 0 green;
}

.yesno.all ul li.no .dot {
    background: none repeat scroll 0 0 #FEBF01;
}